<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AjaxFilter</filter-name>
        <filter-class>ru.job4j.controller.AjaxFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AjaxFilter</filter-name>
        <url-pattern>/ajax/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AdvertServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AdvertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvertServlet</servlet-name>
        <url-pattern>/ajax/advert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdvertiserServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AdvertiserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvertiserServlet</servlet-name>
        <url-pattern>/ajax/advertiser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarDescriptionServlet</servlet-name>
        <servlet-class>ru.job4j.controller.CarDescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarDescriptionServlet</servlet-name>
        <url-pattern>/ajax/car-description</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAdvertiserServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AddAdvertiserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdvertiserServlet</servlet-name>
        <url-pattern>/add-advertiser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAdvertServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AddAdvertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdvertServlet</servlet-name>
        <url-pattern>/auth/add-advert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>ru.job4j.controller.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadImageServlet</servlet-name>
        <servlet-class>ru.job4j.controller.LoadImageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadImageServlet</servlet-name>
        <url-pattern>/images/file</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ru.job4j.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/auth/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>ru.job4j.controller.SignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
</web-app>